<div class="notification white-bg">
    <h6>Notifications</h6>
    <br/>

    <ul type="none">
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>2 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>3 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>2.30 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>3.30 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>2.15 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>2 hrs ago</a></li>
       <li><a href="#"><b>lorem ipsum</b>  lorem ipsum lorem ipsum lorem ipsum<br/>4 hrs ago</a></li>
       <li><a href="#">Show all notification</a></li>

    </ul>
 </div>