<header id="this-header" class="navbar justify-content-start align-items-center navbar-dark bg-dark page-header">


    <div class="logo-section">
        <a href="#" class="navbar-toggler widget-sidebar-toggler">
            <i class="fas fa-bars"></i>
        </a>
        <a class="navbar-brand" href="#">
            Logo
        </a>
    </div>


    <div class="wrap-search">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="search">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="navbar2">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> </a>
        <a href="#"><i class="fa fa-fw fa-bell"></i> </a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> </a>
        <a href="#"><i class="fa fa-fw fa-user"></i> </a>
    </div>

</header>