<nav class="widget-sidebar">

    <ul class="list-unstyled mt-2">
        <li class="active">
            <a routerLink="menu_one">
                <i class="fas fa-home"></i><span> Document1 </span>
            </a>
        </li>
        <li>
            <a routerLink="menu_two">
                <i class="fas fa-pencil-alt"></i><span> Document2 </span>
            </a>
        </li>
        <li>
            <a routerLink="menu_three">
                <i class="fas fa-shapes"></i><span> Document3 </span>
            </a>
            
        </li>
        <li>
            <a routerLink="menu_four">
                <i class="fas fa-file"></i><span> Document4 </span>
            </a>
        </li>
        <li>
            <a routerLink="menu_five">
                <i class="fas fa-box"></i><span> Document5 </span>
            </a>
        </li>
        <li>
            <a routerLink="menu_six">
                <i class="fas fa-boxes"></i><span> Document6 </span>
            </a>
        </li>
        <li>
            <a routerLink="menu_seven">
                <i class="fas fa-building"></i><span> Document7 </span>
            </a>
        </li>
    </ul>
</nav>


